<section id="about" class="section" aria-labelledby="about-title">
    <h2> Our Services </h2>
    <Carousel AutoPlay="CarouselAutoPlay.StartOnPageLoad">
        <CarouselItem Active="true">
            <Image Src="img/Hookah Bar.png" />
            <CarouselCaption>
                <h2>Hookah Bar</h2>
                <p>Experience the best hookah in town.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="img/Butchery.png" />
            <CarouselCaption>
                <h2>Butchery</h2>
                <p>Buy Fresh cuts of meat, sourced locally.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="img/Braai.png" />
            <CarouselCaption>
                <h2>Braai</h2>
                <p>Enjoy our traditional South African braai experience.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="img/Venue.jpg" />
            <CarouselCaption>
                <h2>Venue</h2>
                <p>Host your events in our vibrant space.</p>
                <p>Perfect for parties, bridal showers, and baby showers.</p>
                <a href="#contact" class="btn">Book Venue</a>
            </CarouselCaption>
        </CarouselItem>
    </Carousel>
</section>