<section id="contact" class="section">
    <h2>Get In Touch</h2>
    <p>Email us at: <a href="mailto:info@musecafe.com">info@musecafe.com</a></p>
    <p>Call us at: +27 123 456 789</p>
    <p>Visit us at: <a href="https://maps.app.goo.gl/VvV8tW2HDfju1oiv9?_st=aw">44 Cambridge Street, East London CBD</a></p>
</section>
