.services-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fef8f4;
    padding: 1.5rem 1rem;
    border-radius: 12px;
    box-shadow:none;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #611111;
    font-size: 0.95rem;
    width: 100px;
    border-radius: 12px;
}

.service-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}
